/*HOJA DE ESTILOS E3 NUCBA */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Carlito", sans-serif;
}

/*PALETTA DE COLORES*/
:root {
  /*paleta pura*/
  --tierra: #8b7665;
  --rojo: #e63946;
  --crema1: #ebe5df;
  --crema2: #fefae0;
  --crema3: #cfbcab54;
  --mosta: #e9edc9;
  --bg: #22150b;
  --bg2: #5e422f;

  /*texto color*/
  --brillante: #faf8f4;
  --apagado: #949494;
}

body {
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*ENCABEZADO*/
header {
  display: flex;
  background-color: var(--bg);
  width: 100%;
  max-height: 320px;
  min-height: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px 15px;
  box-shadow: 3px 3px 10px var(--tierra);
  overflow: hidden;
}

/*HEADER LOGO*/
.logo-header {
  width: 9rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.navbar-list a {
  color: var(--brillante);
  font-size: 1.2em;
  font-weight: 100;
}

.navbar-list li:first-child > a {
  font-weight: 900;
  font-size: 1.5rem;
}

.source-icon {
  width: 2em;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* SECCION PORTADA */
.portada {
  display: flex;
  background: var(--crema3);
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  gap: 2rem;
  padding: 4rem 0;
  margin: 2rem;
}

.portada img {
  width: 30%;
  border-radius: 1rem;
  border: solid 0.4rem var(--bg);
}

.port-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 1rem 0;
}

.port-left h1 {
  font-family: "Carlito", sans-serif;
  color: var(--bg);
  font-size: 42px;
  width: 20%;
}

.port-left p {
  font-family: "Carlito", sans-serif;
  color: var(--bg2);
  font-size: 18px;
  width: 90%;
  padding: 20px 0px;
  line-height: 170%;
}

.port-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  height: 3rem;
}

.port-btn-primary {
  display: flex;
  font-family: "Carlito", sans-serif;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 2.5rem;
  background: var(--bg);
  border-radius: 30px;
  font-size: 19px;
  font-weight: 600;
}

.port-btn-secondary {
  display: flex;
  font-family: "Carlito", sans-serif;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 2.5rem;
  border: solid 3px var(--bg);
  border-radius: 30px;
  font-size: 19px;
  font-weight: 600;
}

.port-btn-primary a {
  color: var(--crema1);
}

.port-btn-secondary a {
  color: var(--bg);
}

/* SECCION TEMATICA */

.tematica {
  display: flex;
  background: var(--crema3);
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 4rem;
  margin: 2rem 2rem;
}

.tem-container {
  font-family: "Carlito", sans-serif;
  color: var(--bg2);
  font-size: 18px;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
  line-height: 200%;
}

.tem-container span {
  font-weight: 800;
  font-style: italic;
}
