/*HOJA DE ESTILOS E3 NUCBA */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Carlito", sans-serif;
}

/*PALETTA DE COLORES*/
:root {
  /*paleta pura*/
  --tierra: #8b7665;
  --rojo: #e63946;
  --crema1: #ebe5df;
  --crema2: #fefae0;
  --crema3: #cfbcab54;
  --mosta: #e9edc9;
  --bg: #22150b;
  --bg2: #5e422f;
  --body: #ada996;

  /*texto color*/
  --brillante: #faf8f4;
  --apagado: #949494;
}

body {
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*ENCABEZADO*/
header {
  display: flex;
  position: fixed;
  top: 0;
  background: linear-gradient(to bottom, var(--bg) 10%, var(--body) 100%);
  width: 100%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px 15px;
  overflow: hidden;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*HEADER LOGO*/
.logo-header {
  width: 9rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.menu {
  display: none;
  width: 60px;
  height: 60px;
  filter: invert(99%) sepia(99%) saturate(9234%) hue-rotate(746deg)
    brightness(9999%) contrast(256%);
}

.check {
  display: none;
}

.menu-img {
  display: none;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.navbar-list a {
  color: var(--brillante);
  text-shadow: 2px 2px 5px #22150b;
  font-size: 1.2em;
  font-weight: 100;
}

.navbar-list li:first-child > a {
  font-weight: 800;
  font-size: 1.5rem;
}

.source-icon {
  width: 1.5em;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* SECCION PORTADA */
.portada {
  display: flex;
  background: var(--crema3);
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  gap: 2rem;
  padding: 2rem 0;
  margin: 2rem 2rem;
  margin-top: 4rem;
  max-width: 1400px;
}

.portada img {
  width: 300px;
  border-radius: 1rem;
  border: solid 0.2rem var(--bg);
}

.port-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 1rem 0;
}

.port-left h1 {
  color: var(--bg);
  font-size: 50px;
  font-weight: 900;
  width: 20%;
}

.port-left p {
  font-family: "Carlito", sans-serif;
  color: var(--bg2);
  font-size: 18px;
  width: 90%;
  padding: 20px 0px;
  line-height: 170%;
}

.port-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.port-btn-primary {
  display: flex;
  font-family: "Carlito", sans-serif;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 2.5rem;
  background: var(--bg);
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
}

.port-btn-secondary {
  display: flex;
  font-family: "Carlito", sans-serif;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 2.5rem;
  border: solid 3px var(--bg);
  border-radius: 30px;
  font-size: 19px;
  font-weight: 600;
}

.port-btn-primary a {
  color: var(--crema1);
}

.port-btn-secondary a {
  color: var(--bg);
}

/* SECCION TEMATICA */

.tematica {
  display: flex;
  background: var(--crema3);
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 3rem;
  margin: 2rem 2rem;
  margin-top: 4rem;
  gap: 2rem;
  width: 1400px;
  max-width: 1400px;
}

.tem-container {
  font-family: "Carlito", sans-serif;
  color: var(--bg2);
  font-size: 20px;
  justify-content: center;
  text-align: center;
  /* padding: 0 10px; */
  /* gap: 55px; */
}

.tem-container span {
  font-weight: 800;
  font-style: italic;
}

.tematica-logo {
  width: 150px;
  border-radius: 10px;
  border: solid 0.2rem var(--bg);
}

/* SECCCION PRODUCTOS Y SERVICIOS*/

.productos {
  display: flex;
  background: var(--crema3);
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  flex-wrap: wrap;
  padding: 4em 4em;
  gap: 3em 8rem;
  margin: 2rem 2rem;
  margin-top: 4rem;
  width: 1400px;
  max-width: 1400px;
}

.product {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, var(--crema3) 70%, var(--tierra) 100%);
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0.5em;
  width: 230px;
  height: 320px;
  border: 1px solid var(--tierra);
}

.product img {
  width: 190px;
  min-width: 150px;
  border-radius: 7px;
}

.product-title {
  font-size: 1.5em;
  color: var(--bg);
  text-shadow: 1px 1px 2px var(--bg2);
  margin-top: 0.3em;
}

.product-desc {
  font-size: 0.9em;
  color: var(--bg);
  padding: 5px 10px;
}

.product .product-desc {
  text-align: center;
  padding: 0.3em 0;
}

.contact-container {
  display: flex;
  position: fixed;
  right: 1%;
  bottom: 1%;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background: var(--body);
  opacity: 0.8;
  border-radius: 50%;
}

.contact-logo {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

/* FOOTER */

.footer {
  display: flex;
  background: linear-gradient(to top, var(--tierra) 2%, var(--crema2) 100%);
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0px;
}
